* {
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 16px;
}

body{
    background-color: #124076;
    background-image: url("./Images/bgImageDesktop.jpg");
    background-size: cover;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: 0.06rem 0.06rem 0.12rem black, 0 0 1.6rem blue, 0 0 0.34rem darkblue;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.gameName{
    height: 12vh;
    width: 100vw;
}

.gameContainer{
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.playerOContainer{
    width: 25vw;
    display: flex;
    justify-content: right;
    align-items: center;
}
.playerXContainer{
    width: 25vw;
    display: flex;
    justify-content: left;
    align-items: center;
}

.playerO{
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 50%;
    border: 0.12rem solid white;
    font-family: bold;
    color: white;
    background-color: rgba(0, 0, 255, 0.5);
    box-shadow: 0 0 0.34rem black; 
}

.playerX{
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 50%;
    border: 0.12rem solid white;
    font-family: bold;
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 0.34rem black; 
}

.mainGame{
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.reset{
    height: 20vh;
    width: 100vw;
    display: flex;
    margin-top: 0.3rem;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
}

.footer{
    height: 2vh;
    width: 100vw;
    margin-top: 0.5rem;
    color: white;
    font-size: small;
}

.game{
    height: 60vh;
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    height: 18vh;
    width: 22vh;
    border: none;
    border-radius: 1rem;
    margin: 0.3rem;
    font-size: 3.5rem;
    box-shadow: 0 0 0.5rem black;
    background-color: lightblue; 
}

.box:active{
    box-shadow: 0 0.34rem #666;
    transform: translateY(0.25rem);
}

.resetBtn{
    width: 20vh;
    padding: 0.5rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #720455;
    color: white;
    box-shadow: 0 0.34rem #666;
}

.resetBtn:active{
    background-color: #3e8e41;
    box-shadow: 0 0.32 #666;
    transform: translateY(0.25rem);
}

.newBtn{
    width: 30vh;
    padding: 0.5rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #720455;
    color: white;
    box-shadow: 0 0.25rem #666;
}

.newBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 0.32rem #666;
    transform: translateY(0.2rem);
}

#msg{
    font-size: 2.2rem;
    color: white;
    text-shadow: 0.06rem 0.06rem 0.12rem black;
}

.hidden{
    display: none;
}

.resetBtnHide{
    display: none;
}

.newBtnHide{
    display: none;
}

.playerOHide{
    display: none;
}

.playerXHide{
    display: none;
}



@media only screen and (max-width: 720px) {

    html{
        font-size: 10px;
    }
    body{
        background-color: #124076;
        background-image: url("./Images/bgImagePhone.jpg");
        background-size: cover;
    }

    .gameName{
        height: 15vh;
        width: 100vw;
    }
    .gameName h1{
        font-size: xx-large;
    }

    .gameContainer{
        height: 60vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .playerOContainer, .playerXContainer{
        height: 10vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainGame{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .box{
        font-size: 4.5rem;
    }

    #msg{
        font-size: 2.2rem;
        color: white;
        text-shadow: 0.06rem 0.06rem 0.12rem black;
        margin-bottom: 2rem;
    }

    .reset{
        height: 15vh;
    }
    
    .footer{
        height: 3vh;
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        align-items: end;
    }

    .game{
        height: 60vw;
        width: 80vw;
    }

    .box{
        height: 18vw;
        width: 22vw;
    }

    .resetBtn{
        width: 10vh;
        box-shadow: 0 0.4rem #666;
    }

    .newBtn{
        width: 15vh;
        box-shadow: 0 0.4rem #666;
    }
}
    